body {

  > header {
      .navbarWrapper {
          background-color: $white;
          width: 100% !important; 
         // position: -webkit-sticky;
          position: fixed;
          top: 0;
          z-index: 1000;
      }
      nav {
          
        height: $gridgutter * 3.33; //ch
        border-bottom: 1px solid $graylight;
        display: flex;
        align-items: center;
        background-color: $white;
     // padding-top: $gridgutter;
    
     
      
      #logo {
        height: $gridgutter * 1.5;
      margin-top: - $gridgutter * 0.5;
        > a {
          display: inline-block;
          width: $gridgutter * 4.33;
          height: auto;
          box-sizing: border-box;
        }
      }
      #installButton {
        background-color: $primary;
        color: $white;
        border: none;
        cursor: pointer;
        width: $gridgutter * 7.75;
        height: $gridgutter * 1.3;
        transition: background-color 250ms ease-in-out;
        text-align: center;
       outline: none;
       a {
       font-family: $bodyfont;
        color: $white;
        font-size: $gridgutter * 0.7;
       }
      }
      #installButton:hover {
        background-color: #e74045;
      }


      ul {
        height: $gridgutter * 1.5;
        list-style-type: none;
        margin: 0;

        @media (max-width: $tablet) {
          order: 0;
        }

        li {
          display: inline-block;
          a {
            display: inline-block;
            font-weight: 400;
            font-size: 0.75rem;
            line-height: $gridgutter * 1.5;
            height: $gridgutter * 1.5;
          }
        }
        &#mainmenu {
          order: 3;
          display: none;
          text-align: center;
          
          @media (min-width: $tablet) {
            display: block;
            order: 0;
          }
          li {
            @media (min-width: $tablet) {
              margin-right: $gridgutter / 3;
            }
            @media (min-width: $desktop) {
              margin-right: $gridgutter;
            }
          }
        }
      }

    }

.hero {
  height: 100vh;
  background-color: $primary;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 // $topbutton: $gridgutter * 3/2;
  .heroimg {
      display: flex;
      justify-content: flex-end;

   img {
          margin-top: $gridgutter * 2.5;
          width: $gridgutter * 21.11;
          height: $gridgutter * 29.344;

          @media (max-width: $tablet) {
            width: 217px;
            height: 285px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      }
  }
  .herotext{
      padding-left: $gridgutter * 2.5; 
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      color: $white;
      img {
         width: $gridgutter * 7.6;
         margin-bottom: $gridgutter * 1.6;
     }
     button {
         margin-top: $gridgutter * 2.1;
        background-color: $white;
        color: $primary;
        border: none;
        cursor: pointer;
        width: 186px;
        height: 40px;
        a {
          color: $primary;
        }
     }
  }
  .heroarrow {
 
      display: flex;
      position: absolute;
      bottom: $gridgutter;
      justify-content: center;
      align-items: center;
      img {
          opacity: 0.6;
          width: $gridgutter * 2;
cursor: pointer;

      }
      img:hover {
        opacity: 1;
      }
  }
}

  }
}