html {
scroll-behavior: smooth;

.badges {
padding-top: $gridgutter * 2;

  background-color: $primary;

  height: $gridgutter * 5.3;
  display: flex;
  .gridrow {
    margin-top: $gridgutter * 2;
  }
  .badge {
    // @extend .marginverticalfull;
    position: relative;
    display: flex;
    flex-direction: column;
    // background-color: $gray;
    h3 {
      display: flex;
      justify-content: center;
      color: $titlesfont;
      color: $white;
      font-size: $gridgutter;
    }
    .badge-image {
      //margin: 0;
      //padding: 0;
      display: flex;
      justify-content: center;
      img {
        height: 120px;
        width: 90px;
      }
      .wider {
      width: 102px;
      height: 125px;
      }
      .longer {
        width: 90px;
        height: 125px;
      }
    }
  }
}

#badgesDescription {
  height: 100vh;
}
#description {
  // height: $gridgutter * 26.3;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: $gridgutter / 2;
    
    @media (min-width: $tablet) {
      margin-top: 0;
    }
    h2 {
      font-size: $gridgutter * 1.5;
      width: $gridgutter * 20;
      margin-bottom: $gridgutter;

      @media (max-width: $tablet) {
        font-size: 24px;
        width: 100%;
      }

    }
    p {
      width: $gridgutter * 21.6;
      font-size: 14px;
      @extend .margintopnone;

      @media (max-width: $tablet) {
        width: 100%;;
      }

    }
  }
}

.description-title-d {

  @media (max-width: $tablet) {
    display: none;
  }
}

.description-title-m {

  @media (min-width: $tablet) {
    display: none;
  }
}

.arrowdown {
  @media (max-width: $tablet) {
    display: none;
  }
}

#creatingstories {
  width: 100% !important;
  height: $gridgutter * 21.6;
  background-color: $primary;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .textandshapes {
      font-size: $gridgutter * 1.4;
      font-family: $titlesfont;
      color: $white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: $tablet) {
        display: none;
      }
    }

    .textandshapes-m {
      flex-direction: column-reverse;
      color: #F8F9FA;
      margin: 0;

      @media (min-width: $tablet) {
        display: none;
      }
    }

    img {
      width: 202px;
      padding: $gridgutter;
    }
    button {
      background-color: $white;
      color: $primary;
      border: none;
      cursor: pointer;
      width: 186px;
      height: 40px;
      a {
          color: $primary;
      }
    }
  }
}

//main part

#timeline {
  height: 100%;
  width: 100%;

    //Left sidebar   <- probably this is RIGHT side
    .main-content-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ED282D;
        width: 70%;
        justify-content: flex-end;
        z-index: 2;

        @media (max-width: $tablet) {
          width: 100%;
        }
    }

    #white {

      @media (max-width: $tablet) {
        background-color: #f4f3f3;
        width: 100vw;
      }
    }
    .main-content {
        color: #F8F9FA;
        margin-bottom: 10px;
        height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        padding: 0 20% 0 20%;
        position: relative;

        @media (max-width: $tablet) {
          padding: 0;
          height: 50vh;

        }
    }

    .img-main-content-div {
       display: flex;
       width: 100%;
       justify-content: center;
       direction: rtl;

       .img-main-content {
         position: absolute;
         width: 117px;
         right: 60%;
         top: 8%;
       }

       .img-main-content-second {
        position: absolute;
        width: 117px;
        right: 60%;
        top: -10%;
      }

       .img-main-content-yellow-second {
         width: 68px;
         position: absolute;
         right: 20%;
         bottom: 60%;
       }

       .img-main-content-white {
        width: 147px;
        position: absolute;
        right: 20%;
        top: 18%;
       }

       .img-main-content-white-first {
        width: 95px;
        position: absolute;
        right: 35%;
        top: 8%;
       }

       .img-main-content-yellow {
         width: 146px;
         position: absolute;
         right: 0%;
         top: 8%;
       }

       .img-main-content-white-second {
        width: 146px;
        position: absolute;
        right: 70%;
        top: 8%;
      }

      .img-main-content-last {
        position: absolute;
        width: 117px;
        right: 60%;
        top: -5%;
      }

      .img-main-content-yellow-last {
        width: 146px;
        position: absolute;
        right: 20%;
        top: 8%;
      }

      .img-main-content-white-last {
        width: 103px;
        position: absolute;
        right: 80%;
        bottom: 8%;
      }
    }

    .img-main-content-div {

      @media (max-width: $tablet) {
        display: none;
      }
    }



  .label-main-content {
    font-weight: 400;
  }

    .title-main-content, .title-main-content-ce, .title-main-content-sz, .title-main-content-d {
        font-size: 34px;
        font-weight: 700;
        text-align: initial;

    }
    .title-main-content::before {
        content: url("../imgs/polygon_8.svg");
        margin-right: 20px;
    }

  .title-main-content-ce::before {
    content: url("../imgs/Ellipse_2.svg");
    margin-right: 20px;
  }

  .title-main-content-sz::before {
    content: url("../imgs/vector.svg");
    margin-right: 20px;
  }

  .title-main-content-d::before {
    content: url("../imgs/Polygon_2.svg");
    margin-right: 20px;
  }

  .timeline-item-list {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;

    @media (max-width: $tablet) {
      position: relative;
      align-items: inherit;
      width: 100%;
      justify-content: space-between;
    }
}
.scrollingSectionsContainer {


.scrollingSections {
    display: flex;
	flex-direction: row;

    .redPart {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
    }
    .whitePart {


        div {

           
            .scrollItemOne {
        transition: all 0.75s ease-in-out;
        top: 50px;
        .hiddenup {
        top: -100px;
        opacity: 0;
        }
        .hiddendown {
        top: 200px;
        opacity: 0;
        }
            }
        .scrollItemTwo {
        transition: all 1s ease-in-out;
        top: 125px;
        .hiddenup {
            top: -25px;
            opacity: 0;
        }
        .hiddendown {
            top: 275px;
            opacity: 0;
        }
    }
        .scrollItemThree {
            transition: all 1.25s ease-in-out;
            top: 200px;
            .hiddenup {
                top: 50px;
                opacity: 0;
            }
            .hiddendown {
                top: 350px;
                opacity: 0;
            }
        }


        }
    }
}
}
// Right sidebar  <- probably this is LEFT side



  .timeline-content {
    display: flex;

    @media (max-width: $tablet) {
      position: relative;
      flex-direction: column;
    }
  }

  .img-photo {
    width: 104px;
    height: 104px;
  }
  //white background on the left side
  .main-content-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    width: 30%;
    position: relative;
    z-index: -1;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  .timeline {
    position: absolute;
    z-index: -1;
    justify-content: center;
    height: 100%;
  }
// .thescrollything .whitepart > div

  .timeline-item {
    background-color: white;
    border-radius: 90px 8px 8px 90px;
    width: 20vw;
    padding-left: 0;
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
 
  }

  .timeline-text {
    text-align: right;

    @media (max-width: $tablet) {
      width: 100%;
    }
  }

  .title-timeline-item {
    color: #ed282d;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }

  .label-timeline-item {
    font-size: 22px;
    font-weight: 500;
    color: #343a40;
    margin: 0;
  }
}
// Reviews

#reviewsSection {
  height: 520px;
  display: flex;
  background-color: #f4f3f3;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  #reviewsRow {
    display: flex;
    // align-items: center;
    animation: marquee-animation 100s linear infinite;
    animation-delay: 0s;
    overflow: hidden;
    width: 600vw;

    position: absolute;
    text-align: center;
    justify-content: space-between;

    .items {
      /* assuming there are 10 of them (only 5 will be shown) */
       width: 15%;
       float: left;
       box-sizing: border-box;
       padding: 30px;
       //align-self: flex-start;
    }

    @keyframes marquee-animation {
      0% {
        left: 0;
      }
      100% {
        left: -300vw; /* use half of the width of their container, so the repeating aspect works correctly */
      }
    }
    p {
      text-align: start;
      font-size: 14px;
    }

    .comments {
      text-align: start;
    }

    .img-personal-photo {
      border-radius: 100%;
      width: 75.38px;
    }

    .starts-img {
      width: 80px;
      height: 30px;
      background-image: url("../imgs/vector.svg");
      background-repeat: repeat-x;
    }

    .img-reviews-polygon {
      height: 230px;
      width: 230px;
    }
    .img-reviews-polygon6 {
    height: 180px;
    width: 180px;
    }

    .img-reviews-rectangle {
      height: 196.8px;
      width: 189.6px;
    }
    .img-reviews-triangle {
    height: 180px;
    width: 180px;
    }
    .img-reviews-elipse {
    height: 170px;
    width: 170px;
    }

.rotate {
    animation: rotation 80s infinite linear;
}
.rotate:hover {
animation-play-state: paused;

}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

  }
}
}

